/* Reset CSS */
/* */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Global Styles */
body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #fff;
	background-color: #1f1f1f;
}

a {
	color: #fff;
	text-decoration: none;
}

ul {
	list-style: none;
}

header {
	height: 64px;
	background-color: #2b2b2b;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
}

.logo {
	display: inline-block;
	margin: 0 30px;
	vertical-align: top;
	width: 30%;
}

nav ul {
	display: flex;
	align-items: center;
}

nav li {
	margin-left: 20px;
}

nav li:first-child {
	margin-left: 0;
}

#hero {
	height: 600px;
	position: relative;
}

.hero-image {
	position: absolute;
	top: 0%;
	left: 50%;
	/*width: 100%;*/
	/*height: 100%;*/
	object-fit: cover;
}

.hero-description {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.hero-description h1 {
	font-size: 48px;
	font-weight: bold;
	margin-bottom: 20px;
}

#about {
	padding: 80px 0;
	text-align: center;
}

#about h2 {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 40px;
}

#features {
	padding: 80px 0;
	text-align: center;
}

#features h2 {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 40px;
}

.feature {
	display: inline-block;
	margin: 0 30px;
	vertical-align: top;
	width: 30%;
}

.feature img {
	width: 100%;
	height: auto;
	object-fit: cover;
	margin-bottom: 20px;
}

.feature h3 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}

#news {
	padding: 80px 0;
	text-align: center;
}

#news h2 {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 40px;
}

.news-item {
	display: inline-block;
	margin: 0 30px;
	vertical-align: top;
	width: 30%;
}

.news-item h3 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}

.news-item p {
	font-size: 16px;
}
